<div class="container index-container text-center">
    <h1>{{ title }}</h1>
    <p>Welcome to your profile page</p>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
    </ul>
</div>
